mixin blogItem(item)
	+b.blogItem(href="#")&attributes(attributes)
		+e.imgWrap 
			+pic(item.img,'','')
		+e.date 22 марта 2021
		+e.title!= item.title 
		div
			+e.btn Читать

mixin sBlog(h3)
	// start sBlog
	+b.SECTION.sBlog.section#sBlog&attributes(attributes)
		.container
			if h3
				+b.section-title
					h3= h3
			else
				+b.section-title.text-center
					h2 Новости и блог
		block
	// end sBlog