// start .sBlog
.sBlog {
	// --sPT: ;
		@include media-breakpoint-up(sm){


			--sPB:0 ;
		}
	// --sTPB: ;

	@include media-breakpoint-up(xxl) {
		padding-top: calc(var(--sPT) * 1.2);
	}

	h2,
	.h2 {
		font-weight: bold;
	}

	h3,
	.h3 {
		font-weight: bold;
		font-size: rem(38);
	}

	&__row {
		@include media-breakpoint-up(xxl) {
			padding-top: rem(20);
		}
	}
	.swiper-container{
		overflow: hidden;
	}
	.swiper-button-hand{
		@include media-breakpoint-up(xl){
			top: rem(140);
		}
		
		@include media-breakpoint-up(md){
			top: rem(172);
		}
		@include media-breakpoint-up(sm){
			top: rem(135);
		}

		transform: translateY(-50%);
		bottom: auto;
		margin: 0;
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
	.swiper-pagination{
		margin-top: 0;
	}
} // end.sBlog

.blogItem {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	&__imgWrap {
		padding-bottom: rem(20);
		picture {
			@include block(540, 280);
			@include media-breakpoint-up(md) {
				// @include block(378, 280);
			}
			@include media-breakpoint-up(lg) {
				@include block(374, 280);
			}
			@include media-breakpoint-up(xl) {
				@include block(380, 280);
			}
			@include media-breakpoint-up(xxl) {
				@include block(420, 280);
			}
			border-radius: 15px;
			overflow: hidden;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include a-cent;
		}
	}
	&__date {
		color: $secondary;
		padding-bottom: rem(10);
	}
	&__title {
		@extend .h4;
		font-weight: bold;
		margin-bottom: rem(19);
		color: $body-color;
		line-height: calc(28 / 20);
	}
	&__btn {
		@extend .btn;
		@extend .btn-outline-primary;
		box-shadow: 0px 10px 15px rgba(240, 129, 31, 0.15);
		min-width: 145px;
		padding-top: rem(9) !important;
		padding-bottom: rem(9) !important;
		font-size: $em-base !important;
	}
}

.d-xxl-block {
	@include media-breakpoint-up(xxl) {
		display: block !important;
	}
}
