mixin footer()
	+b.FOOTER.footer
		.container
			+e.row.row 
				+e.col.col-xl.order-xl-second
					+e.logo(href="/")
						img(src="img/svg/logo-footer.svg" alt="Логотип" loading="lazy")
				+e.lCol.col-xl-auto.order-xl-first 
					+e.copyright &copy;&nbsp;22021. Официальный сайт компании &laquo;Геометрия&raquo;. Все&nbsp;права защищены. Не&nbsp;является публичной офертой.
					+e.polite(href="#") Политика конфиденциальности
				+e.rCol.col-xl-auto
					+e.toTop(href="#header") Наверх
						img(src="img/svg/toTop.svg" alt="")

					+e.dev
						span Разработка сайта –&nbsp;
						a(href="#" target='_blank') AD HEADS