.footer {
	margin-top: auto;
	// --sPT: ;
	// --sPB: ;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);

	&__row {
	}
	&__logo {
		text-align: center;
	}
	&__lCol {
	}
	&__rCol {
		text-align: right;
	}
	&__copyright {
		max-width: rem(440);
		margin-bottom: rem(20);
	}
	&__polite {
		color: $secondary;
	}
	&__logo {
		display: inline-block;
		margin-top: rem(-15);
		margin-right: rem(20);
	}
	&__col {
		text-align: center;
	}
	&__toTop {
		display: inline-flex;
		align-items: center;
		color: $body-color !important;
		margin-bottom: rem(20);

		img {
			margin-left: rem(10);
			flex-shrink: 0;
			@include mt;
		}

		&:hover {
			img {
				transform: translateY(-5px);
			}
		}
	}
	&__dev {
		span {
			color: #858f98;
		}
		a {
			color: $body-color;
			font-size: rem(16);
			font-weight: bold;
		}
	}

	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
}
