.footer {
	margin-top: auto;
	padding-top: var(--sPT);
	@include media-breakpoint-up(xxl) {
		padding-top: calc(var(--sPT) * 1.5);
	}
	padding-bottom: var(--sPB);

	@include media-breakpoint-down(xl) {
		text-align: center;
	}

	&__row {
	}
	&__logo {
		text-align: center;
		display: inline-block;
		@include media-breakpoint-up(xl) {
			margin-right: rem(150);
			margin-top: rem(-25);
		}
		@include media-breakpoint-up(xxl) {
			margin-right: rem(200);
		}

		@include media-breakpoint-down(xl) {
			margin-bottom: rem(30);
		}
	}
	&__lCol {
		@include media-breakpoint-down(xl) {
			display: flex;
			flex-direction: column-reverse;
		}
	}
	&__rCol {
		@include media-breakpoint-up(xl) {
			text-align: right;
		}
		@include media-breakpoint-down(xl) {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
		}
	}
	&__copyright {
		max-width: rem(440);
		margin-bottom: rem(20);
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(25);
		}
		@include media-breakpoint-down(xl) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__polite {
		color: $secondary;
		display: inline-block;
		@include media-breakpoint-down(xl) {
			margin-bottom: rem(20);
		}
	}
	&__col {
		text-align: center;
	}
	&__toTop {
		display: inline-flex;
		align-items: center;
		color: $body-color !important;
		margin-bottom: rem(20);

		img {
			margin-left: rem(10);
			flex-shrink: 0;
			@include mt;
		}

		&:hover {
			img {
				transform: translateY(-5px);
			}
		}
	}
	&__dev {
		@include media-breakpoint-down(xl) {
			margin-bottom: rem(20);
		}
		span {
			color: #858f98;
		}
		a {
			color: $body-color;
			font-size: rem(16);
			font-weight: bold;
		}
	}

	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
}
