mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sReviews
				
			+slider3()
				+e.slide.swiper-slide
					.text-center slide
	// end sReviews