mixin sFurniture(data)
	// start sFurniture
	+b.SECTION.sFurniture.section#sFurniture&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Фурнитура MACO – австрийский комфорт
				p Фурнитура МАСО отвечает самым современным стандартам и&nbsp;является воплощением комфорта, дизайна и&nbsp;безопасности. В&nbsp;продуктовой линейке МАСО можно подобрать фурнитуру в&nbsp;соответствии с&nbsp;любыми предпочтениями
			.row
				img(src="img/@2x/furn.png", alt="")
				ul 
					li #[strong MULTI-MATIC поворотная и поворотно-откидная фурнитура] – для окон любой формы из ПВХ, дерева и метала (частично).
					li #[strong Откидно-поворотная фурнитура или ручка с ключом] – для гарантированной безопасности детей.
					li #[strong Взломостойкая система MACO MULTI-MATIC I.S] – идеальное решение для частных домов и квартир на первых этажах.
					li #[strong Скрытая фурнитура MULTI-POWER] – выгодно выделит окно как элемент дизайна в интерьере, а также за счет отсутствия мостика холода, пережимающего уплотнитель, предотвратит образование конденсата и излишней пыли на элементах фурнитуры.
					li #[strong Фурнитура MACO MULTI-SKY и MACO MULTI-KOMFORT] – обеспечит комфортное проветривание благодаря удобно расположенной ручке.
	// end sFurniture