// start .sFurniture
.sFurniture {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: #{rem(50)};
	.section-title{
		h2{
			margin-bottom: rem(30);
		}
		p{

			margin-left: auto;
			margin-right: auto;
			max-width: rem(1000);
		}
	}
	.row{ 
		align-items: center;
		justify-content: center;
	}
	ul{

		// width: 50%;
		@extend .col-lg;
	}
	img{
		max-width: 50%;
		height: auto;
		height: 100%;
		width: auto;
		flex: 0 0 auto;
		padding: 0;
		
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
		margin-bottom: rem(40);
		@include media-breakpoint-up(xl) {
			margin-right: rem(110);

			margin-top: rem(-20);
		}
	}
	li{
		position: relative;
		padding-left: rem(60);
		list-style: none;
		margin-bottom: rem(30);
		line-height: 200%;
		&::before{
			content: '';
			width: em(40);
			height: em(40);
			border-radius: 50%;
			margin-right: em(20);
			background-image: var(--marker);
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			left: 0;
			@include a-cent1(y);
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {
		--sPB:0;
	}
} // end.sFurniture