
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+b.form-wrap
			+e.title Заказать звонок
			p Заполните форму и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей
			form
				+input("Ваше Имя")(required)  
				+input('Ваш номер телефона','tel')
					+e.code +7
				+e.btn(type="submit") Отправить заявку
			+polite()
	// #modal-call
	+b.modal-win(id="modal-thanks" class=" " style="display: none" )
		+b.form-wrap
			+e.title Спасибо <br> за обращение!
			p Мы свяжемся с Вами в ближайшее время для уточнения деталей
			+e.btn(type="button").modal-close-js Закрыть
	// #modal-thanks
	
	// end modals