// start .sContact
.sContact {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;

	h2,
	.h2 {
		@include media-breakpoint-down(xxl) {
			font-size: rem(38);
		}
	}

	&__txt {
		padding-bottom: rem(33);
	}

	&__block {
		background: #f1f2f0;
		border-radius: 15px 15px 0 0;
		padding: rem(63) rem(34) rem(72);
	}

	&__tel {
		text-decoration: none;
		border-bottom: 4px solid #f8b473;
		color: $body-color !important;
		line-height: 1.1;
		@include rfs(60px);
		font-weight: bold;
		&:hover {
			border-color: transparent;
		}
	}

	&__btns-row {
		justify-content: center;
		align-items: center;
		padding-top: rem(10);
		padding-bottom: rem(42);

		@include roww(rem(12));
		@include media-breakpoint-up(md) {
			@include roww(rem(16));
		}
		@include media-breakpoint-up(lg) {
			@include roww(rem(20));
		}
	}
	&__btn {
		width: 100%;
		@include media-breakpoint-up(md) {
			width: rem(144);
		}
		@include media-breakpoint-up(lg) {
			width: rem(224);
		}
		@include media-breakpoint-up(xxl) {
			width: rem(260);
		}
		border-radius: rem(5);
		display: inline-flex;
		align-items: center;
		justify-content: center;

		font-weight: 600;
		font-size: rem(20);
		padding: 10px 17px;
		line-height: 1.2;

		color: $white !important;
		&:hover {
			color: $white !important;
		}
		.icon {
			color: $white;
			font-size: rem(30);
			margin-right: rem(12);
		}

		@extend .btn;
		@extend .blesk;
		&--wa {
			background: #25d366;
		}
		&--vb {
			background: #665cac;
		}
		&--tg {
			background: #139bd0;
		}
	}
	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sContact

.mapWrap {
	position: relative;
	border-radius: 0 0 15px 15px;
	overflow: hidden;

	&__mapDescr {
		@include a-cent1(y);
		left: 7%;
		background: #ffffff;
		box-shadow: 0px 10px 15px rgba(53, 57, 63, 0.15);
		border-radius: 15px;
		padding: rem(50) rem(20) rem(50) rem(40);
		max-width: 25%;

		strong {
			color: $secondary;
			margin-bottom: rem(12);
			display: block;
		}
		p {
			margin-bottom: rem(20);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	> ymaps {
		height: rem(425) !important;
	}
}
