// start .sPageHead
.sPageHead {
	--sPT: #{rem(58)};
	// --sPB: 0;
	--sTPB: #{rem(10)};
	background: $light;

	h1,
	.h1 {
		font-weight: bold;
		line-height: calc(68 / 48);
		font-size: rem(38);
		@include media-breakpoint-up(xxl) {
			font-size: rem(48);
		}

		&::after {
			display: none !important;
		}
	}
	&__imgWrap {
		margin-right: calc(-50vw + 155%);
		@include media-breakpoint-up(lg) {
			margin-right: calc(-50vw + 102%);
		}
		max-height: 407px;
		min-height: 100%;
		height: 100%;
		// overflow: hidden;
		img {
			width: 100%;
			min-height: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}

		picture {
			min-height: 100%;
			height: 100%;
		}
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sPageHead
