mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Преимущества нашей компании
			.row
				mixin item(i,t,p)
					+e.col.col-xl-6
						+e.item
							+pic(`adv-img-${i}.png`,'',0)
							+e.caption 
								h3!= t
								p!= p
					// /+e.col.col-xl-6
				+item(`1`,`Доступная <span>цена</span>`,`Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более`)
				+item(`2`,`Установка <span>в срок</span>`,`Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более`)
				+item(`3`,`Большой <span>опыт</span>`,`Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более`)
				+item(`4`,`Сертификаты и <span>соответствие ГОСТу</span>`,`Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более`)
	// end sAdvantages