.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-calculator {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chefron-down {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-chevron-left {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-chevron-right {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-fb {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-star {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-telegram {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
