// start .headerBlock
.headerBlock {
--sPT: #{rem(64)};
--sPB: #{rem(74)};
padding-bottom: rem(10);
padding-top: rem(20);
	&__slide{
		position: relative;
		border-radius: 15px;
		overflow: hidden;
		background: #DFD3C3;
		z-index: 2;
		&::after {
			content: '';
			position: absolute;
			width: 30%;
			height: 100%;
			left: 20%;
			top: 0;
			z-index: -1;
			background: linear-gradient(90deg, #DFD3C3 0%, rgba(223, 211, 195, 0) 25%);
		}
		img{
			object-fit: cover;
			position: absolute; 
			max-width: 70%;
			position: absolute;
			left: auto;
			right: -5%;
			bottom: -5%;
			height: 110%;
			z-index: -1;
		}
	}
	
	&__img-wrap {

		}
	p{
		color: #F0811F;
		font-size: rem(20);
		font-weight: bold;
	}
	&__title{
		@extend .h2;
		font-weight: bold;
		margin-bottom: rem(35);
		line-height: 1.4;
	}
	&__block{
		max-width: rem(680);
		padding-left: rem(112);
		z-index: 2;
		position: relative;
		
	}

	&__btn{
		@extend .btn;
		@extend .btn-primary;
		width: rem(220);
		position: relative;
		z-index: 4;
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock