mixin sCases(data)
	// start sCases
	+b.SECTION.sCases.section#sCases&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Выполненные работы
			+slider()
				+e.slide.swiper-slide
					.row
						.col-auto
							+pic('1.png')
						.col 
							h3 Установка балконной двери в квартире
	// end sCases