mixin sCharacters(data)
	// start sCharacters
	+b.SECTION.sCharacters.section#sCharacters&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Характеристики профиля
			.tabs.tabs--js
				.tabs__caption 
					.tabs__btn.active VEKA Softline
					.tabs__btn VEKA WHS72
				.tabs__wrap 
					.tabs__content.active
						+e.inner
							+e.head
								.row
									.col-md-auto
										+pic("char.png",'',0)
									.col
										h3 VEKA Softline
										p Все профили VEKA производятся в соответствии с требованиями высшего класса качества немецкого стандарта DIN EN 12608 — класса А. Только из таких профилей можно сделать окна и двери, которые будут надёжно работать многие десятилетия, радуя Вас своим великолепным внешним видом и удобством использования. 100% качества профиля — чтобы Ваши окна дарили Вам радость.
										.row.row--sm.text-start
											.col-auto
												.strong.text-primary Количество камер:
												h3 5
												
											.col-auto
												.strong.text-primary Класс энергоэффективности:
												h3 А+
							+e.body 
								.row
									mixin item(i,t,p)
										+e.col.col-xl-3.col-md-6 
											+e.item
												+e.icon-wrap 
													img(src=`img/svg/char-i-${i}.svg` loading="lazy", alt="")
												p: strong= t
												p!= p
									+item(`1`,`Энергоэффективность`,`Стабильная многокамерная система с&nbsp;превосходными изолирующими характеристиками.`)
									+item(`2`,`Защита от шума`,`Высокая шумоизоляция обеспечивает тишуну и&nbsp;спокойствие Вашего дома.`)
									+item(`3`,`Дизайн и долговечность`,`Высококачественный пластик, устойчивый к воздействиям внешней среды, ровная гладкая поверхность в любом цвете и дизайне.`)
									+item(`4`,`Прочность и надежность`,`Использование специальных армирующих усилителей обеспечивает высокую стабильность конструкции.`)
								.text-center
									+e.btn.link-modal-js(href="#modal-char") Подробнее
								+b.modal-win--char(id="modal-char" class=" " style="display: none" )
									+e.title Характеристики профиля #[span VEKA Softline]
								 
									p: strong Профильная система
									ul 
										li Многокамерные профили шириной 70 мм;
										li Толщина наружной стенки 3 мм соответствует нормам RAL;
										li Элегантный контур, повторяющий геометрический рисунок EUROLINE и SOFTLINE;
										li Ширина комбинации рама-створка в световом проёме 112 мм;
										li Специальное армирование по нормативам VEKA;
										li Возможно использование одинаковых усилителей в раме и створке.
									br
									p: strong Функциональность
									p Стандартные окна, окна с повышенной теплоизоляцией, окна с улучшенными шумозащитными качествами, оконные системы повышенной безопасности, балконные двери, фасады.
									br
									p: strong Сфера применения
									ul 
										li Поворотные, поворотно-откидные, откидные, штульповые, раздвижные окна;
										li Разнообразный спектр применяемых стеклопакетов: обычные, с повышенными энергосберегающими характеристиками, шумозащитные, специальные;
										li Декоративные перекладины внутри стеклопакета, наклеивающиеся на стеклопакет, разделяющие стеклопакет.
									br
									p: strong Уплотнения
									ul 
										li Фальцевое уплотнение;
										li Сплошной контур уплотнения в раме и створке;
										li Специальные системы уплотнений из APTK, TPE или силикона;
										li Уплотнители чёрного цвета.
									br
									p: strong Физические свойства
									ul 
										li Теплоизолирующие характеристики соответствуют нормам DIN 4108 и EnEV;
										li Звукоизоляция VDI2719, классы шумозащиты от II до IV;
										li Противовзломные характеристики соответствуют нормативам DIN V ENV 1627 1630.
									br
									p: strong Стеклопакет
									ul 
										li Глубина установки стеклопакета 21 мм;
										li Диапазон используемого остекления от 4 мм до 42 мм.
									br
									p: strong Декоративные перекладины
									p Перекладины, разделяющие стеклопакет, могут быть шириной 64, 85 и 118 мм.
									br
									p: strong Дополнительные профили и принадлежности
									ul
										li Присоединительные профили;
										li Расширители;
										li Подставочные профили;
										li Профили для присоединения к стене;
										li Соединители;
										li Декоративные профили;
										li Профили для дополнительного усиления.
									br
									p: strong Используемая фурнитура
									p Могут быть использованы все основные фурнитурные системы.
									br
									p: strong Сопротивление теплопередаче (с установленным армированием)
									p 0,78 м2С/Вт.
									.text-center
										button.btn.btn-primary(type="button").modal-close-js Закрыть
					.tabs__content
						+e.inner
							+e.head
								.row
									.col-md-auto
										+pic("char2.png",'',0)
									.col
										h3 VEKA WHS72
										p Вы нерасточительный человек, желающий приобрести новые металлопластиковые окна? Сделать безубыточную покупку тогда, когда каждая копейка на счету, можно! 
											br
											| Ваш выбор – VEKA WHS 72!
										.row.row--sm.text-start
											.col-auto
												.strong.text-primary Количество камер:
												h3 5
												
											.col-auto
												.strong.text-primary Класс энергоэффективности:
												h3 А+
							+e.body 
								ul 
									li Самый доступный по цене вариант пятикамерной профильной системы от VEKA с монтажной шириной 72 мм. Обладает всеми необходимыми сертификатами качества как противопожарными, так и гигиеническими.
									li  WHS представляет собой профильную систему c номинальной толщиной наружной стенки 2,5 мм.
									li Высокая шумоизоляция обеспечивает тишину и спокойствие Вашего дома.
									li Высококачественный пластик, устойчивый к воздействиям внешней среды. Не нуждается ни в покраске, ни в любом ином специальном уходе.

									li Замкнутое металлическое армирование внутри профиля обеспечит хорошую стабильность конструкций. Материал армирования: оцинкованная сталь.

								.text-center
									+e.btn.link-modal-js(href="#modal-char2") Подробнее
								+b.modal-win--char(id="modal-char2" class=" " style="display: none" )
									+e.title Характеристики профиля #[span VEKA WHS72]

									p: strong  Профильная система
									ul 
										li Многокамерные профили шириной 72 мм;
										li Элегантный внешний контур;
										li Замкнутое армирование по нормативам VEKA.
									br
									p: strong  Функциональность
									p Окна и оконные блоки прямоугольной формы из данной профильной системы с успехом используют для остекления промышленных и гражданских зданий, в частных загородных домах и многоквартирных домах жилой застройки. Рекомендованы для установки в лечебных и детских учреждениях.
									br
									p: strong  Не изготавливаются изделия
									ul 
										li Непрямоугольной формы;
										li Штульповые;
										li С импостами соединенными крестом;
										li С москитными сетками на штоках;
										li Входные и межкомнатные двери;
									br
									p: strong  Сертификаты и лицензии
									p Сертификаты: гигиенические, пожарные сертификаты, сертификаты ISO и RAL.
									br
									p: strong  Сфера применения
									ul 
										li Поворотные, поворотно-откидные, откидные окна;
										li Разнообразный спектр применяемых стеклопакетов: обычные, с повышенными энергосберегающими характеристиками, шумозащитные, специальные.
									br
									p: strong  Уплотнения
									ul 
										li Сплошной контур уплотнения в раме и створке;
										li Уплотнители серого цвета, несъемные.
									br
									p: strong  Физические свойства
									p Приведенное сопротивление теплопередаче соответствует 2 классу изделий согласно ГОСТ 30673-99.
									br
									p: strong  Стеклопакет
									ul 
										li Глубина установки стеклопакета 24 мм и 31 мм;
										li Уплотнитель штапика: серый.
									br
									p: strong  Сопротивление теплопередаче (с установленным армированием)
									p 0,77 м2С/Вт. 
									.text-center
										button.btn.btn-primary(type="button").modal-close-js Закрыть
	// end sCharacters