mixin sServises(data)
	// start sServises
	+b.SECTION.sServises.section#sServises&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Услуги оконной компании в&nbsp;Нижнем Новогороде
			+e.row-head.row
				mixin item(t,i)
					+e.col.col-lg-4 
						+e.item.bg-wrap
							+pic(`servises-${i}.jpg`,'bg',0).picture-bg.d-none.d-xl-block
							+pic(`servises-mob-${i}.png`,'',0).d-xl-none.text-center
							+e.caption
								+e.title= t
								+e.btn(href="#") Уточнить цену
				+item(`Пластиковые окна`,`1`)
				+item(`Пластиковые двери`,`2`)
				+item(`Остекленение балконов`,`3`)
			h3 Дополнительные услуги
			+e.row.row
				mixin item(i,p)
					+e.col-other.col
						img(src=`img/svg/other-servises-${i}.svg` loading="lazy", alt="")
						p!= p
				+item(`1`,`Монтаж/демонтаж окон и&nbsp;дверей`)
				+item(`2`,`Установка подоконников отливов и&nbsp;откосов`)
				+item(`3`,`Ремонт окон и&nbsp;дверей`)
				+item(`4`,`Проверка тепловизором`)
				+item(`5`,`Визуализация будущих окон`)
	// end sServises