mixin sTemplates(data)
	// start sTemplates
	+b.SECTION.sTemplates.section#sTemplates&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Типовые решения для квартир
			.row
				mixin item(t)
					+e.col.col-xl-3.col-6
						+e.item
							+e.title= t
							+e.price от 55 500 руб
							+e.btn(href="#modal-call").link-modal-js  Подробнее
				+item(`Однокомнатная квартира`)
				+item(`Двухкомнатная квартира`)
				+item(`Трехкомнатная квартира`)
				+item(`Четырехкомнатная квартира`)
	// end sTemplates