mixin sTemplates(data)
	// start sTemplates
	+b.SECTION.sTemplates.section#sTemplates&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sTemplates
				
			.row
	// end sTemplates