//- WP menu
mixin mnu()
	-
		var nav= { 
			"Акции":"#",
			"Цены":"#",
			"Характеристики":"#",
			"Преимущества":"#" ,
			"Выполненные работы":"#",
			"Отзывы":"#",
			"Этапы работ":"#",
			"Новости":"#",
			"Контакты":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement") 
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu