//- WP menu
mixin mnu()
	-
		var nav= { 
			"Акции":"#headerBlock",
			"Цены":"#sPrices",
			"Характеристики":"#sCharacters",
			"Преимущества":"#sAdvantages" ,
			"Выполненные работы":"#sCases",
			"Отзывы":"#sReviews",
			"Этапы работ":"#sSteps",
			"Новости":"#sBlog",
			"Контакты":"#sContact",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement") 
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu